
.country:hover {
  stroke: #fff;
  stroke-width: 1.5px;
}

.text{
  font-size:10px;
  text-transform:capitalize;
}

#container {
  margin:10px 10%;
  border:2px solid #000;
  border-radius: 5px;
  height:100%;
  //overflow:hidden;
  background: #F0F8FF;
}


.meteor-tooltip {
    //width: 50px;
    //height: 50px;
    color: red;
    background-color: gray;
    border: 1px solid black;
}

.graticule {
  fill: none;
  stroke: #bbb;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.equator {
  stroke: #ccc;
  stroke-width: 1px;
}

.meteorite {
    fill: red;
    stroke: #FFF;
    stroke-width: 0.5px;
}

.meteorite:hover {
    fill: yellow;
}

