

$width: 960px;
$box-bg-color: rgba(192, 192, 192, 0.9);
$body-bg-color: darken(cyan, 20%);
$plot-bg-color: darken(white, 11%);

body {
    background-color: $body-bg-color;
    font-family: Verdana, serif;
};

.plot-container {
    background-color: $plot-bg-color;
    margin: 0 auto;
    width: $width;
};

rect {
    fill: red;
};

rect:hover {
    fill: lighten(blue, 20%);
};

.my-tooltip {
    color: black;
    width: 200px;
    background-color: $box-bg-color;
    padding: 3px;
    border: 1px solid black;
    border-radius: 3px;
};

.dollars {
    font-size: 20px;
};

.text-primary {
    color: white;
};

.legend {
    background-color: brown;
    color: black;
    width: 100px;
    height: 100px;
};

.biker-name {
    font-size: 9px;

};
