/**
 * Style sheet (.scss) for Game of Life.
 */

$cell-width: 11px;
$cell-height: 11px;

$main-color: darken(white, 10%);
$main-color-2: darken($main-color, 15%);
$main-color-3: darken($main-color-2, 15%);

$ctrl-top-color: darken($main-color, 10%);

@mixin fonts {
    font-family: 'Josefin Sans', sans-serif;
}

@mixin cell-font {
    font-family: 'VT323', monospace;
    font-size: 16px;
}

// Control panel theme
@mixin ctrl-panel {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: $ctrl-top-color;
}

// Defines the main gradient for the background
@mixin gray-gradient {
    background: $main-color;
    background: -o-radial-gradient($main-color, $main-color-2, $main-color-3);
    background: -webkit-radial-gradient($main-color, $main-color-2, $main-color-3);
    background: -moz-radial-gradient($main-color, $main-color-2, $main-color-3);
    background: radial-gradient($main-color, $main-color-2, $main-color-3);
}

/** Elements, classes and IDs.*/

body {
    @include fonts;
};


#game-table {
    td {
        width: $cell-width;
        height: $cell-height;
        border: 1px solid black;
        padding: 0;
    }
};

//------------------------------------------------------------------
// CELL StyleS
//------------------------------------------------------------------


//--------
// ACTORS
//--------

.cell-actors {
    background-color: blue;
}

.cell-player {
    background-color: green;
    color: white;
}

.cell-monster {
    background-color: purple;
    color: white;
};

//----------
// ELEMENTS
//----------

.cell-elements {
    color: white;
    background-color: purple;
}

.cell-element-wall {
    background-color: red;
}

.cell-element-floor {
    background-color: gray;
}

.cell-dark {
    background-color: #101010;
}

.cell-not-explored {
    background-color: black;
};

.cell-items {
    background-color: brown;
}

//---------------------------------------------------------------------
// MENUS
//---------------------------------------------------------------------

.game-messages {
    margin-bottom: 10px;
    height: 30px;
    @include ctrl-panel;
}

.game-stats {
    @include ctrl-panel;
}

#game-board {
    margin-left: 10px;
    margin-right: 10px;
    @include cell-font;
}

.num-generations {
    margin-left: 20px;
}

.ctrl-bottom {
    margin-top: 10px;
    @include ctrl-panel;
}

.inv-item-slot {
    border: 1px solid black;
    border-radius: 5px;

    :hover {
        background-color: #DDD;
    }


};
