
/** Remove bootstrap top offset.*/
body {padding: 0;}
.page-headeri {margin-top:0;}
h1 {margin-top:0;}


$node-color: #ccc;
$link-color: #777;

$header-bg-color: gray;

$header-height: 100px;

svg {
	z-index: -1;
    border: 2px solid red;
    width: 100%;
}

.header-container {
    height: $header-height;
    background-color: $header-bg-color;
    margin: 0 auto;
};

g {
    border: 1px solid black;
}

.link {
    stroke: $link-color;
    stroke-width: 2px;
}

