
$text-white: darken(white, 20%);

/** Remove bootstrap top offset.*/
body {
    padding: 0;
    background-color: lighten(black, 20%);
}

.page-headeri {margin-top:0;}

h1 {
    color: $text-white;
    margin-top:0;
}


$link-color: #777;
$header-bg-color: gray;
$header-height: 60px;

svg {
	z-index: -1;
    border: 2px solid red;
    width: 100%;
}

.svg-container {
    background-color: lighten(black, 20%);
};

.header-container {
    height: $header-height;
    background-color: $header-bg-color;
};

g {
    border: 1px solid black;
}

.link {
    stroke: $link-color;
    stroke-width: 2px;
}

.author {
    color: $text-white;
}
