
$node-color: #ccc;
$link-color: #777;

svg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.link {
    stroke: $link-color;
    stroke-width: 2px;
}

.test-div {
    left: 100px;
    top: 300px;
    width: 100px;
    height: 200px;
    background-color: blue;
    position: absolute;
}


